body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

main {
	flex: 1;
}

/* Header with hero background */
body > header {
	background-color: #394046;
	background-image: url("/img/hero.webp");
	background-position: center;
	background-size: cover;
	padding: var(--pico-block-spacing-vertical)
		var(--pico-block-spacing-horizontal);
}

/* Custom footer graphics */
body > footer {
	background-image: url("/img/footer_graphics.svg");
	background-position-y: bottom;
	max-width: 100%;
	background-size: 100%;
	padding-top: 600px;

	text-align: center;
}

@view-transition {
	navigation: auto;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;
}
img[width][height] {
	height: auto;
}
img[src$=".svg"] {
	width: 100%;
	height: auto;
	max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

ul.tag-list {
	display: inline;
}
ul.tag-list > li {
	list-style: none;
	list-style-type: none;
	display: inline;
}

/*blog links*/

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: 0.5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

/* Posts list counter */
.postlist {
	counter-reset: start-from var(--postlist-index);
	list-style: none;
}
.postlist-item {
	counter-increment: start-from -1;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
